argparse==1.4.0
apache-beam[gcp]==2.56.0
pandas==2.2.2
Faker==25.2.0
google-cloud-pubsub==2.21.1
pyspark==3.5.1
Flask==3.0.3
MarkupSafe==2.1.5
mysql-connector-python==8.4.0
matplotlib==3.9.0rc2
seaborn==0.13.2
plotly==5.22.0
mysql==0.0.3
numpy==1.26.4