<div class="navbar">
    <ul> 
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('checkin') }}">Check-In</a></li>
        <li><a href="{{ url_for('stats') }}">Stats</a></li>
        <li style="float:right"><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
    </div>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {% block content %}
    {% endblock %}