{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Airport Management System</title>
</head>
<body>
    <div>
        <h1>Flight Information</h1>
        <button>Refresh</button>
    </div>
    <br>
    <table>
        <tr>
            <th>Flight ID</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Flight Status</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td> <!-- Flight_ID -->
            <td>{{ row[3] }}</td> <!-- Departure_Airport -->
            <td>{{ row[2] }}</td> <!-- Destination_Airport -->
            <td>{{ row[4] }}</td> <!-- Departure_Time -->
            <td>{{ row[5] }}</td> <!-- Arrival_Time -->
            <td>{{ row[1] }}</td> <!-- Flight_Status -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock %}
