{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Airport Management System - Stats</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="{{ url_for('static', filename='0846fabe1181b39f8edff657a1ec9a5e-plane-departure-icon-sign.png') }}" height='50px'>
            <h1>FLIGHT STATISTICS</h1>
        </div>
        <button onclick="refreshStats()" style="float:right; margin-right:20px;">Refresh</button>
    </div>
    <br>
    <div class="grid-container">
        <div class="graph-container">
            <h2>Flight Status Distribution</h2>
            <img src="data:image/png;base64, {{ image_base64_1 }}" alt="Flight Status Distribution" class="graph">
        </div>
        <div class="graph-container">
            <h2>Arrivals and Departures per Hour</h2>
            <img src="data:image/png;base64, {{ image_base64_2 }}" alt="Data Import Over Time" class="graph">
        </div>
        <div class="graph-container">
            <h2>Passengers per Flight</h2>
            <img src="data:image/png;base64, {{ image_base64_3 }}" alt="Passengers per Flight" class="graph">
        </div>
        <div class="graph-container">
            <h2>Top 10 Passenger Citizenship Distribution</h2>
            <img src="data:image/png;base64, {{ image_base64_4 }}" alt="Passenger Citizenship Distribution" class="graph">
        </div>
    </div>

    <script>
        function refreshStats() {
            fetch('/stats')
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');

                    // Update each graph container with the new image
                    document.querySelectorAll('.graph-container img').forEach((img, index) => {
                        const newImg = doc.querySelectorAll('.graph-container img')[index];
                        img.src = newImg.src;
                    });
                })
                .catch(error => console.error('Error fetching stats:', error));
        }
    </script>
</body>
</html>

{% endblock %}
