/* styles.css */

body {
    font-family:"Saira Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div{
    display: flex;
    align-items: center;

}

.container img{
    height: 50px;
}
.container button{
    display: inline-flex;
    background-color: grey;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    justify-content: center;

}


.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #292929;
    text-align: left;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

td, th {
    text-align: center;
}

.form-container {
    margin: 0 auto; /* Center form on page */
    margin-top: 50px;/*bring down a little bit */
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form {
    text-align: center; /* Center form contents horizontally */
}
label {
    display: block; /* Place labels on a new line */
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensure padding is included in width */
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

#flightForm {
    display: flex;
    flex-wrap: wrap;
  }

#flightForm label,
#flightForm input,
#flightForm button {
  margin: 5px; /* Adjust spacing between elements */
}

#flightID {
  flex: 1; /* Allow input field to grow and take available space */
  max-width: 300px; /* Set maximum width for input field */
}

button[type="submit"] {
  min-width: 100px; /* Set minimum width for the submit button */
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.graph-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.graph-container h2 {
    margin-bottom: 10px;
}
.graph {
    width: 50%;
    height: auto;
}